<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmJ2WK0UD1yQDJ74YltTlcQ1_ZnAT7Jxk</string>
	<key>GCM_SENDER_ID</key>
	<string>117994775225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.ge.IBanSaverApp</string>
	<key>PROJECT_ID</key>
	<string>ibansaverapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ibansaverapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117994775225:ios:46891f023a8c47bb837168</string>
</dict>
</plist>